In [60]:

# Introduction to pandas:
# https://pandas.pydata.org/docs/getting_started/index.html#getting-started

#load libraries

import pandas as pd
import seaborn as sns

In [57]:
#load excel data via filepath

data = pd.read_excel('/Users/jamescarney/Downloads/Sprint data_final.xlsx')

In [ ]:
#load first 5 rows of data

data.head()

In [ ]:
#load first n rows of data

data.head(n=4)

# Task: Get the first 10 rows of data

In [ ]:
#load last 5 rows of data

data.tail()

In [ ]:
#load last n rows of data

data.tail(n=4)

# Task: Get the last 3 rows of data

In [ ]:
#Lists column names

data.columns

# Task: Get the third column name

In [ ]:
# Gives descriptive statistics for all columns of numerical data

data.describe()

In [ ]:
# Outputs named columns

data['Age']

# Task: Print the contents of any other column

In [ ]:
# Gives descriptive statistics for named columns of numerical data

data['Age'].describe()

# Task: Get descriptive statistics for any other two named columns of numerical data

In [ ]:
# Gives the fifth entry of the 'Age' column

data['Age'][4]

# Task: Print the 30th entry in the 'Age' column

In [ ]:
#Gives the fifth row

data.iloc[4] 

# Task: Get three other rows of data

In [ ]:
# Gives the fifth entry of the 'Age' column

data.iloc[4, 0]

# Task: Get the tenth entry in the 'Gender' column
# Task: Get the 67th entry in the 'Nationality' column

In [ ]:
# Get the number of each natioanlity

data['Nationality'].value_counts()

# Task: Get the number of each age

In [ ]:
# Create new column that multiples everyone's age by 2.

data['Age_2'] = data['Age']*2

# Task: create new column that gives the square of everyone's age.

In [ ]:
# Groups the data by nationality

data2 = data.groupby('Nationality')

In [ ]:
# Gets all British participants

data2.get_group('British')

# Task: Get all Spanish participants

In [ ]:
# Groups by gender and nationality

data2 = data.groupby(['Gender','Nationality'])

In [ ]:
# Gets all female British participants

data2.get_group(('Female', 'British'))

# Task: Group by Age and Gender and get the entries for 20 year old males

In [ ]:
'''
Without 



'''